game/data/xsd/Achievements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD simplificado alinhado exatamente ao Achievements.xml fornecido.
         Objetivo: validar estrutura atual sem overfitting e permitir wrappers livres em <categories>. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Item de recompensa -->
    <xs:complexType name="RewardItemType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="count" type="xs:long" use="required"/>
    </xs:complexType>

    <!-- Bloco de recompensas globais -->
    <xs:complexType name="RewardsBlockType">
        <xs:sequence>
            <xs:element name="item" type="RewardItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Nível (sem rewards internos, como no XML atual) -->
    <xs:complexType name="LevelType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="icon" type="xs:string" use="optional"/>
        <xs:attribute name="need" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:complexType name="LevelsType">
        <xs:sequence>
            <xs:element name="lvl" type="LevelType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Achievement multi-nível (estrutura real) -->
    <xs:complexType name="AchievementType">
        <xs:sequence>
            <xs:element name="levels" type="LevelsType"/>
            <xs:element name="rewards" type="RewardsBlockType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="cat" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="desc" type="xs:string" use="optional"/>
        <xs:attribute name="icon" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- Categorias: aceitar qualquer conteúdo (wrappers, cat, etc.) -->
    <xs:element name="categories">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Root -->
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="categories" minOccurs="0"/>
                <xs:element name="achievement" type="AchievementType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
