game/data/xsd/LevelSurvey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="level" type="levelType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="enableSystem" type="xs:boolean" use="optional" default="true"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="levelType">
		<xs:sequence>
			<xs:element name="item" type="itemType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="message" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="count" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
</xs:schema>